{{- $title := cond .IsHome site.Title .Title -}}
{{- $desc := .Description -}}
{{- if not $desc -}}
  {{- if and .IsPage .Summary -}}{{- $desc = .Summary | plainify | truncate 200 -}}
  {{- else -}}{{- $desc = site.Params.tagline -}}{{- end -}}
{{- end -}}
{{- $img := .Params.ogImage -}}
{{- if not $img -}}{{- with .Params.images -}}{{- $img = index . 0 -}}{{- end -}}{{- end -}}
{{- if not $img -}}{{- $img = site.Params.defaultOgImage -}}{{- end -}}
{{- $type := cond (eq .Section "posts") "article" "website" -}}
<meta property="og:type" content="{{ $type }}">
<meta property="og:title" content="{{ $title }}">
<meta property="og:description" content="{{ $desc }}">
<meta property="og:url" content="{{ .Permalink }}">
<meta property="og:site_name" content="{{ site.Title }}">
{{- with site.Language.Lang }}
<meta property="og:locale" content="{{ . }}">
{{- end }}
{{- with $img }}
<meta property="og:image" content="{{ . | absURL }}">
<meta property="og:image:alt" content="{{ $title }}">
{{- end }}
{{- if eq $type "article" }}
<meta property="article:published_time" content="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">
{{- if not .Lastmod.IsZero }}
<meta property="article:modified_time" content="{{ .Lastmod.Format "2006-01-02T15:04:05Z07:00" }}">
{{- end }}
{{- with site.Params.author.name }}
<meta property="article:author" content="{{ . }}">
{{- end }}
{{- range .Params.tags }}
<meta property="article:tag" content="{{ . }}">
{{- end }}
{{- end }}
