<!doctype html>
<html lang="{{ site.Language.Lang | default "en" }}">
{{- partial "head.html" . -}}
<body>
<a class="skip-link" href="#main">Skip to content</a>
<div class="progress"><div class="progress-bar" id="progressBar"></div></div>
<div class="wrap">
  {{- partialCached "topbar.html" . .RelPermalink -}}
  <main id="main">
    {{- block "main" . }}{{ end }}
  </main>
  {{- partialCached "footer.html" . -}}
</div>
{{- partialCached "kbar.html" . -}}
{{- $js := resources.Get "js/app.js" | minify | fingerprint -}}
<script src="{{ $js.RelPermalink }}" integrity="{{ $js.Data.Integrity }}" crossorigin="anonymous" defer></script>
</body>
</html>
