{{- $posts := where site.RegularPages "Section" "posts" -}}
{{- $byMonth := dict -}}
{{- range $posts -}}
  {{- $key := .Date.Format "2006-01" -}}
  {{- $cur := index $byMonth $key | default 0 -}}
  {{- $byMonth = merge $byMonth (dict $key (add $cur 1)) -}}
{{- end -}}
{{- $sorted := slice -}}
{{- range $k, $v := $byMonth -}}{{ $sorted = $sorted | append $k }}{{- end -}}
{{- $sorted = sort $sorted -}}
{{- $first := index $sorted 0 -}}
{{- $last := index $sorted (sub (len $sorted) 1) -}}
{{- $startYear := substr $first 0 4 | int -}}
{{- $endYear := substr $last 0 4 | int -}}
{{- $startMonth := substr $first 5 2 | int -}}
{{- $endMonth := substr $last 5 2 | int -}}
{{- $maxCount := 0 -}}
{{- range $k, $v := $byMonth -}}{{ if gt $v $maxCount }}{{ $maxCount = $v }}{{ end }}{{- end -}}
{{- $monthLetters := slice "J" "F" "M" "A" "M" "J" "J" "A" "S" "O" "N" "D" -}}
<div class="hm">
  <div class="hm-cols">
    <span></span>
    {{- range $monthLetters }}<span class="hm-mo">{{ . }}</span>{{ end -}}
  </div>
  {{- range $year := seq $startYear $endYear }}
  <div class="hm-row">
    <span class="hm-yr">{{ $year }}</span>
    {{- range $m := seq 1 12 }}
      {{- $key := printf "%d-%02d" $year $m -}}
      {{- $before := and (eq $year $startYear) (lt $m $startMonth) -}}
      {{- $after := and (eq $year $endYear) (gt $m $endMonth) -}}
      {{- if or $before $after -}}
        <span class="hm-cell empty"></span>
      {{- else -}}
        {{- $v := index $byMonth $key | default 0 -}}
        {{- $cls := "z" -}}
        {{- if eq $v 0 -}}{{ $cls = "z" -}}
        {{- else -}}
          {{- $intensity := div (mul $v 1.0) $maxCount -}}
          {{- if lt $intensity 0.4 -}}{{ $cls = "lo" -}}
          {{- else if lt $intensity 0.75 -}}{{ $cls = "md" -}}
          {{- else -}}{{ $cls = "hi" -}}
          {{- end -}}
        {{- end -}}
        <span class="hm-cell {{ $cls }}" title="{{ $key }}: {{ $v }} post{{ if ne $v 1 }}s{{ end }}"></span>
      {{- end -}}
    {{- end -}}
  </div>
  {{- end }}
</div>
